// Colors:
$white: #F3E5B1;
$teal: #9DD5CB;
$teal2: #9AFFDC;
$turquoise: #013C4D;
$orange: #D5441C;
$reddish: #903749;

$blue1: #28385E;
$blue2: #304163;
$blue3: #516C8D;
$grey: #DDDDDD;

@import 'https://fonts.googleapis.com/css?family=Lobster+Two:700|Roboto+Slab:400,700|Slabo+27px';
// font-family: 'Slabo 27px', serif;
// font-family: 'Lobster Two', cursive;
// font-family: 'Roboto Slab', serif;

body {
  background: $grey;
}

@media (max-width: 767px) and (min-width: 1px) {  // Tablet
  body {
    font-family: sans-serif;
    color: $grey;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 40px;
  }
  .container {
    background: $grey;
    width: 100%;
    margin: auto;

    .logo {
      position: fixed;
      background: $teal;
      background: -webkit-linear-gradient(-45deg, $teal, $teal2); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(-45deg, $teal, $teal2); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(-45deg, $teal, $teal2); /* For Firefox 3.6 to 15 */
      background: linear-gradient(-45deg, $teal, $teal2); /* Standard syntax */
      // http://www.w3schools.com/css/css3_gradients.asp
      border-bottom: 4px solid $blue3;
      box-shadow: 0 2px 20px $blue2;
      width: 100%;
      height: 40px;
      padding: 40px 0 30px 50px;
      font-family: 'Lobster Two', cursive;
      color: $blue2;
      font-size: 40px;
    }
    .ice {
      width: 40px;
    }
    .logo2 {
      font-family: 'Roboto Slab', serif;
      font-weight: 700;
    }
    .logo:hover {
      color: $blue3;
    }
    .chat-box {
      padding: 140px 0 130px 0;
      overflow: auto;
      height: 550px;
      line-height: 26px;
      font-family: sans-serif;
      font-weight: normal;
      width: 100%;
      letter-spacing: 1px;
      font-size: 20px;
      word-wrap: break-word;

      .response-chat {
        background: $blue1;
        border: 2px solid $blue1;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 16px;
        width: 70%;
        margin-right: 340px;
        margin-bottom: 20px;
        padding-left: 60px;
        img {
        width: 35%;
        }
      }
      .response-chat:hover {
        background: $blue2;
      }
      .user-chat {
        background: $blue3;
        border: 2px solid $blue3;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 16px;
        width: 40%;
        margin-left: 60%;
        margin-bottom: 20px;
        padding-right: 60px;
      }
      .user-chat:hover {
        background: $blue1;
        border: 2px solid $blue1;
      }
    }

  .user-container {
    display: inline-block;
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
    text-align: center;

    .hidden-icons {
      display: none;
      position: relative;
      z-index: 0;
      background: $blue3;
      width: 100%;
      height: 25px;
      padding-bottom: 100px;
      color: $blue3;
      font-size: 30px;

      i {
        padding: 30px;
        color: $grey;
      }
    }
  }

    .user-input {
      display: block;
      position: relative;
      z-index: 1;
      background: $teal2;
      width: 100%;
      height: 60px;
      padding-bottom: 70px;
      .write-here {
        background: #FFF;
        border: 2px solid $teal;
        border-radius: 50px;
        width: 60%;
        height: 10px;
        margin-top: 40px;
        margin-bottom: 60px;
        padding: 20px;
        padding-left: 40px;
        color: $blue1;
        font-size: 20px;
        letter-spacing: 1px;
      }
      .commands-button {
        padding-right: 20px;
        color: $blue1;
        font-size: 30px;
      }
      .chat-button {
        padding-left: 16px;
        color: $blue1;
        font-size: 30px;
      } } } }


@media (max-width: 1024px) and (min-width: 768px) {  // Tablet
body {
  font-family: sans-serif;
  color: $grey;
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 20px;
}
.container {
  background: $grey;
  width: auto;
  margin: auto;

  .logo {
    position: fixed;
    background: $teal;
    background: -webkit-linear-gradient(-45deg, $teal, $teal2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-45deg, $teal, $teal2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-45deg, $teal, $teal2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-45deg, $teal, $teal2); /* Standard syntax */
    // http://www.w3schools.com/css/css3_gradients.asp
    border-bottom: 4px solid $blue3;
    box-shadow: 0 2px 15px $blue2;
    width: 100%;
    height: 50px;
    padding: 40px 0 30px 70px;
    font-family: 'Lobster Two', cursive;
    color: $blue2;
    font-size: 40px;
  }
  .ice {
    width: 50px;
  }
  .logo2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
  }
  .logo:hover {
    color: $blue3;
  }

  .chat-box {
    padding: 160px 0 300px 0;
    overflow: auto;
    // overflow-y: hidden;
    height: 400px;
    line-height: 26px;
    font-family: sans-serif;
    font-weight: normal;
    width: 100%;
    letter-spacing: 2px;
    font-size: 20px;
    word-wrap: break-word;

    .response-chat {
      background: $blue1;
      border: 2px solid $blue1;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      padding: 20px;
      width: 50%;
      margin-right: 340px;
      margin-bottom: 20px;
      padding-left: 60px;
      img {
      width: 25%;
      height: auto;
      // margin-left: auto;
      // margin-right: auto;
      }
    }
    .response-chat:hover {
      background: $blue2;
    }
    .user-chat {
      background: $blue3;
      border: 2px solid $blue3;
      border-radius: 10px;
      padding: 20px;
      width: 35%;
      margin-left: 60%;
      margin-bottom: 20px;
      padding-right: 60px;
      word-wrap: break-word;
    }
    .user-chat:hover {
      background: $blue1;
    }
  }

.user-container {
  display: inline-block;
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
  text-align: center;

  .hidden-icons {
    display: none;
    position: relative;
    z-index: 0;
    // display: inline-block;
    // float: left;
    background: $blue3;
    width: 100%;
    height: 80px;
    // padding-bottom: 100px;
    color: $blue3;
    font-size: 20px;
    i {
      // padding: 40px;
      padding: 20px 40px 0 40px;
      // width: 25%;
      color: $grey;
    }
    // .icon-help {
    //   // float: left;
    //   // background: $reddish;
    //   padding: 117px 10px 38px 30px;
    //   color: $grey;
    // }
    // .icon-temp {
    //   // background: $white;
    //   padding: 117px 10px 38px 10px;
    //   color: $grey;
    // }
    // .icon-giphy {
    //   // background: $orange;
    //   padding: 117px 10px 38px 10px;
    //   color: $grey;
    // }
    // .icon-chill {
    //   // background: $blue1;
    //   padding: 117px 30px 38px 10px;
    //   color: $grey;
    // }
  }
}

  .user-input {
    display: block;
    // position: relative;
    // position: fixed;
    // bottom: 0;
    // left: 0;
    z-index: 1;
    background: $teal2;
    width: 100%;
    height: 60px;
    padding-bottom: 70px;
    .write-here {
      background: #FFF;
      border: 2px solid $teal;
      border-radius: 50px;
      width: 60%;
      height: 10px;
      margin-top: 40px;
      margin-bottom: 60px;
      padding: 20px;
      padding-left: 40px;
      color: $blue1;
      font-size: 20px;
      letter-spacing: 2px;
    }
    .commands-button {
      padding-right: 40px;
      color: $blue1;
      font-size: 30px;
    }
    .chat-button {
      // width: 100%;
      // height: 140px;
      padding-left: 40px;
      // text-align: center;
      // font-family: 'Roboto Slab', serif;
      color: $blue1;
      font-size: 30px;
    } } } }


  @media (min-width: 1025px) {  // Desktop
    body {
      background: $grey;
      font-family: sans-serif;
      color: $grey;
      font-weight: normal;
      letter-spacing: 1px;
      font-size: 20px;
    }
    .chat-box::-webkit-scrollbar { width: 0 !important }
    .container {
      // background: #fff;
      width: 100%;
      margin: auto;
      overflow: hidden;

      .logo {
        position: fixed;
        z-index: 1;
        background: $teal;
        background: -webkit-linear-gradient(-90deg, $teal, $teal2); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(-90deg, $teal, $teal2); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(-90deg, $teal, $teal2); /* For Firefox 3.6 to 15 */
        background: linear-gradient(-90deg, $teal, $teal2); /* Standard syntax */
        // http://www.w3schools.com/css/css3_gradients.asp
        // background: pink;
        // background: -webkit-linear-gradient(90deg, pink, gold); /* For Safari 5.1 to 6.0 */
        // background: -o-linear-gradient(90deg, pink, gold); /* For Opera 11.1 to 12.0 */
        // background: -moz-linear-gradient(90deg, pink, gold); /* For Firefox 3.6 to 15 */
        // background: linear-gradient(90deg, pink, gold); /* Standard syntax */
        border-bottom: 3px solid $blue2;
        box-shadow: 0 2px 10px $blue2;
        width: 100%;
        height: 40px;
        // padding: 40px 80px 0 200px;
        padding: 40px 0px 30px 0px;
        text-align: center;
        font-family: 'Lobster Two', cursive;
        color: $blue2;
        font-size: 34px;
      }
      .ice {
        width: 40px;
      }
      .logo2 {
        font-family: 'Roboto Slab', serif;
        font-weight: 700;
      }
      .logo:hover {
        // background: $blue1;
        border-bottom: 3px solid $teal;
        color: $blue1;
        background: pink;
        background: -webkit-linear-gradient(-90deg, pink, gold); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(-90deg, pink, gold); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(-90deg, pink, gold); /* For Firefox 3.6 to 15 */
        background: linear-gradient(-90deg, pink, gold); /* Standard syntax */
      }

      .chat-box {
        //position: fixed;
        left:0px;
        bottom:0px;
        margin-left: auto;
        margin-right:auto;
        width:35%;
        height: 550px;
        padding: 130px 0 130px 0;
        overflow: auto;
        line-height: 16px;
        font-family: sans-serif;
        font-weight: normal;
        letter-spacing: .5px;
        font-size: 14px;

        .response-chat {
          background: $blue1;
          border: 2px solid #FFF;
          border-radius: 5px;
          width: 70%;
          margin-left: 10%;
          margin-bottom: 10px;
          padding: 10px;
          padding-left: 20px;
          img {
          width: 75%;
          height: auto;
          // margin-left: auto;
          // margin-right: auto;
          } }
        .response-chat:hover {
          // background: $blue2;
          border: 2px solid #FFF;
          background: pink;
          background: -webkit-linear-gradient(-90deg, pink, gold); /* For Safari 5.1 to 6.0 */
          background: -o-linear-gradient(-90deg, pink, gold); /* For Opera 11.1 to 12.0 */
          background: -moz-linear-gradient(-90deg, pink, gold); /* For Firefox 3.6 to 15 */
          background: linear-gradient(-90deg, pink, gold); /* Standard syntax */
          color: $blue1;
        }
        .user-chat {
          background: $blue3;
          overflow: auto;
          border: 2px solid #FFF;
          border-radius: 5px;
          width: 70%;
          margin-left: 10%;
          margin-bottom: 10px;
          padding: 10px;
          padding-left: 20px;
        }
        .user-chat:hover {
          // background: $blue1;
          border: 2px solid #FFF;
          background: pink;
          background: -webkit-linear-gradient(90deg, pink, gold); /* For Safari 5.1 to 6.0 */
          background: -o-linear-gradient(90deg, pink, gold); /* For Opera 11.1 to 12.0 */
          background: -moz-linear-gradient(90deg, pink, gold); /* For Firefox 3.6 to 15 */
          background: linear-gradient(90deg, pink, gold); /* Standard syntax */
          color: $blue1;
        } } }

    .user-container {
      display: inline-block;
      position:fixed;
      left:0px;
      bottom:0px;
      width:100%;
      margin-left: auto;
      margin-right: auto;
      background: $grey;
      text-align: center;

        .hidden-icons {
          width:35%;
          margin-left: auto;
          margin-right: auto;
          color: $blue1;
        }
        i {
          padding: 10px 20px 20px 20px;
          font-size: 25px;
        }

      .user-input {
        background: $grey;
        width: 35%;
        margin-left: auto;
        margin-right: auto;
      }
        .write-here {
          background: #FFF;
          border: 2px solid $teal;
          border-radius: 6px;
          width: 80%;
          height: 16px;
          margin-top: 0;
          margin-bottom: 30px;
          margin-right: 0;
          padding: 10px;
          color: $blue1;
          font-size: 14px;
          letter-spacing: 1px;
          text-align: center;
        }
        .commands-button {
          display: none;
        }
        .chat-button {
          display: none;
          // padding-left: 5px;
        }
        // .chat-button-lg {
        //   display: inline-block;
        //   background: $teal;
        //   border: 2px solid $teal;
        //   border-top-right-radius: 4px;
        //   border-bottom-right-radius: 4px;
        //   width: 110px;
        //   height: 38px;
        //   margin-left: -10px;
        //   padding-left: 20px;
        //   text-align: center;
        //   font-family: 'Roboto Slab', serif;
        //   color: $blue1;
        //   font-size: 20px;
        //   letter-spacing: 2px;
        // }
        // .chat-button-lg:hover {
        //   background: $blue1;
        //   border: 2px solid $blue1;
        //   color: $grey;
        // }
      }
    }
