// Colors:
$white: #F3E5B1;
$teal: #9DD5CB;
$teal2: #9AFFDC;
$turquoise: #013C4D;
$orange: #D5441C;
$reddish: #903749;

$blue1: #28385E;
$blue2: #304163;
$blue3: #516C8D;
$grey: #DDDDDD;

@import 'https://fonts.googleapis.com/css?family=Lobster+Two:700|Roboto+Slab:400,700|Slabo+27px';
// font-family: 'Slabo 27px', serif;
// font-family: 'Lobster Two', cursive;
// font-family: 'Roboto Slab', serif;



@media (max-width: 1024px) and (min-width: 1px) {  // Mobile
body {
  font-family: sans-serif;
  color: $grey;
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 40px;
}
.container {
  background: $grey;
  width: 100%;
  margin: auto;

  .logo {
    position: fixed;
    background: $teal;
    background: -webkit-linear-gradient(-45deg, $teal, $teal2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-45deg, $teal, $teal2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-45deg, $teal, $teal2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-45deg, $teal, $teal2); /* Standard syntax */
    // http://www.w3schools.com/css/css3_gradients.asp
    border-bottom: 8px solid $blue3;
    box-shadow: 0 2px 40px $blue2;
    width: 100%;
    height: 150px;
    padding: 80px 80px 0 60px;
    font-family: 'Lobster Two', cursive;
    color: $blue2;
    font-size: 80px;
  }
  .ice {
    width: 100px;
  }
  .logo2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
  }
  .logo:hover {
    color: $blue3;
  }
  .chat-box {
    padding: 260px 0 400px 0;
    overflow: auto;
    height: 1145px;
    line-height: 50px;

    .response-chat {
      background: $blue1;
      border: 2px solid $blue1;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      padding: 30px;
      width: 70%;
      margin-right: 340px;
      margin-bottom: 20px;
      padding-left: 60px;
      font-family: sans-serif;
      font-weight: normal;
      letter-spacing: 1px;
      img {
      width: auto;
      height: auto;
      // margin-left: auto;
      // margin-right: auto;
      }
    }
    .response-chat:hover {
      background: $blue2;
    }
    .user-chat {
      background: $blue3;
      border: 2px solid $blue3;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      padding: 30px;
      width: 40%;
      margin-left: 550px;
      margin-bottom: 20px;
      padding-right: 60px;
      font-family: sans-serif;
      font-weight: normal;
      letter-spacing: 1px;
      font-size: 40px;
    }
    .user-chat:hover {
      background: $blue1;
    }
  }
//}

.desktop-user-container { display: none; }
.mobile-user-container {
  display: inline-block;
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
  text-align: center;

  .hidden-icons {
    display: none;
    position: relative;
    z-index: 0;
    // display: inline-block;
    // float: left;
    background: $blue3;
    width: 100%;
    height: 100px;
    padding-bottom: 100px;
    color: $blue3;
    i {
      padding: 50px;
      // width: 25%;
      color: $grey;
    }
    .icon-help {
      // float: left;
      // background: $reddish;
      padding: 117px 10px 38px 30px;
      color: $grey;
    }
    .icon-temp {
      // background: $white;
      padding: 117px 10px 38px 10px;
      color: $grey;
    }
    .icon-giphy {
      // background: $orange;
      padding: 117px 10px 38px 10px;
      color: $grey;
    }
    .icon-chill {
      // background: $blue1;
      padding: 117px 30px 38px 10px;
      color: $grey;
    }
  }
}

  .user-input {
    display: block;
    position: relative;
    z-index: 1;
    background: $teal2;
    .write-here {
      background: #FFF;
      border: 2px solid $teal;
      border-radius: 50px;
      width: 60%;
      height: 45px;
      margin-top: 40px;
      margin-bottom: 60px;
      padding: 20px;
      padding-left: 50px;
      color: $blue1;
      font-size: 36px;
      letter-spacing: 3px;
    }
    .commands-button {
      padding-right: 40px;
      color: $blue1;
    }
    .chat-button {
      // width: 100%;
      // height: 140px;
      padding-left: 20px;
      // text-align: center;
      // font-family: 'Roboto Slab', serif;
      color: $blue1;
      font-size: 50px;
    }
    .chat-button-lg {
      display: none;
    }
  }
  }

  // @media (min-width: 640px) {  // Tablet
  // .container {
  //   background: $grey;
  // }


  }

  @media (min-width: 1025px) {  // Desktop
    body {
      font-family: sans-serif;
      color: $grey;
      font-weight: normal;
      letter-spacing: 1px;
      font-size: 20px;
    }
    .container {
      background: $grey;
      width: 100%;
      margin: auto;

      .logo {
        position: fixed;
        background: $teal;
        background: -webkit-linear-gradient(-90deg, $teal, $teal2); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(-90deg, $teal, $teal2); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(-90deg, $teal, $teal2); /* For Firefox 3.6 to 15 */
        background: linear-gradient(-90deg, $teal, $teal2); /* Standard syntax */
        // http://www.w3schools.com/css/css3_gradients.asp
        border-bottom: 3px solid $blue2;
        box-shadow: 0 2px 10px $blue2;
        width: 100%;
        height: 40px;
        // padding: 40px 80px 0 200px;
        padding: 40px;
        text-align: center;
        font-family: 'Lobster Two', cursive;
        color: $blue2;
        font-size: 34px;
      }
      .ice {
        width: 40px;
      }
      .logo2 {
        font-family: 'Roboto Slab', serif;
        font-weight: 700;
      }
      .logo:hover {
        background: $blue1;
        border-bottom: 3px solid $teal;
        color: $grey;
      }
      .chat-box {
        padding: 160px 0 50px 0;
        overflow: auto;
        height: 700px;
        line-height: 16px;

        .response-chat {
          background: $blue1;
          border: 2px solid $blue1;
          border-radius: 20px;
          padding: 10px;
          width: 25%;
          margin-left: 500px;
          margin-bottom: 20px;
          padding-left: 20px;
          font-family: sans-serif;
          font-weight: normal;
          letter-spacing: 1px;
          font-size: 16px;
          img {
          width: auto;
          height: auto;
          // margin-left: auto;
          // margin-right: auto;
          }
        }
        .response-chat:hover {
          background: $blue2;
          border: 2px solid $blue2;
        }
        .user-chat {
          background: $blue3;
          border: 2px solid $blue3;
          border-radius: 20px;
          padding: 10px;
          width: 10%;
          margin-left: 800px;
          margin-bottom: 20px;
          padding-right: 30px;
          padding-left: 20px;
          font-family: sans-serif;
          font-weight: normal;
          letter-spacing: 1px;
          font-size: 16px;
        }
        .user-chat:hover {
          background: $blue1;
          border: 2px solid $blue1;
        }
      }
    }

    .mobile-user-container { display: none; }
    .desktop-user-container {
      display: inline-block;
      position:fixed;
      left:0px;
      bottom:0px;
      width:100%;
      // background: $grey;
      text-align: center;
        i {
          color: $blue1;
        }
        .desktop-icons {
          display: none;
        }
        .icon-help {
          height: 10px;
          padding: 10px;
          // background: $reddish;
        }
        .icon-temp {
          height: 10px;
          padding: 10px;
          // background: $white;
        }
        .icon-giphy {
          height: 10px;
          padding: 10px;
          // background: $orange;
        }
        .icon-chill {
          height: 10px;
          padding: 10px;
          // background: $blue1;
        }
      }

      // .boxbox:hover button.chat-button, .boxbox:active button.chat-button, .boxbox:focus button.chat-button {
      //     outline: none;
      //     opacity: 1;
      //     margin-left: -50px;
      //   }
      //   .boxbox:hover button.chat-button:hover{
      //     background: $blue1;
      //   }



      .user-input {
        background: none;
        // box-shadow: 0 -18px 40px $blue1; //appear when .fa-info is clicked
        .write-here {
          background: #FFF;
          border: 2px solid $teal;
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          width: 20%;
          height: 16px;
          margin-top: 40px;
          margin-bottom: 100px;
          margin-right: 0;
          padding: 10px;
          padding-left: 15px;
          color: $blue1;
          font-size: 14px;
          letter-spacing: 2px;
        }
        .commands-button {
          padding-right: 10px;
          color: $blue1;
        }
        .chat-button {
          display: none;
        }
        .chat-button-lg {
          display: inline-block;
          background: $teal;
          border: 2px solid $teal;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          width: 110px;
          height: 38px;
          margin-left: -10px;
          padding-left: 20px;
          text-align: center;
          font-family: 'Roboto Slab', serif;
          color: $blue1;
          font-size: 20px;
          letter-spacing: 2px;
        }
        .chat-button-lg:hover {
          background: $blue1;
          border: 2px solid $blue1;
          color: $grey;
        }
      }
    }
